#about-me{
  .photo-box{
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradientBG 15s ease infinite;
      height: auto;
      width: 100%;
      border-radius: 50%;
  }
  .description{
    h1{
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 200% 200%;
      animation: gradientBG 15s ease infinite;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .card{
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    cursor: move;
    .gray-filter{
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      -webkit-transition: 1.2s ease-in-out;
      transition: 1.2s ease-in-out;
    }
    .drum, .guitar, .html5, .css3, .javascript, .photoshop, .illustrator{
      width: 0%;
      -webkit-transition: width 2s;
      transition: width 2s;
      &:before{
        content: "00%";
        padding: 0 5px;
      }
    }
    &:hover{
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
      .gray-filter{
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
      }
      .drum{
        $width: 80;
        width : round(percentage($width/100));
        &:before{
          text-align: center;
          content: "#{$width}%";
        }
      }
      .guitar, .illustrator{
        $width: 50;
        width : round(percentage($width/100));
        &:before{
          text-align: center;
          content: "#{$width}%";
        }
      }
      .html5, .css3{
        $width: 95;
        width : round(percentage($width/100));
        &:before{
          text-align: center;
          content: "#{$width}%";
        }
      }
      .javascript{
        $width: 85;
        width : round(percentage($width/100));
        &:before{
          text-align: center;
          content: "#{$width}%";
        }
      }
      .photoshop{
        $width: 70;
        width : round(percentage($width/100));
        &:before{
          text-align: center;
          content: "#{$width}%";
        }
      }
    }
  }
  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}