.footer{
  background: rgba(21,101,192, 1);

  a{
    text-decoration: none;
    color: rgba(255,255,255, .5);

    .social{
      display: inline-block;
      border: 2px solid;
      border-color: rgba(255,255,255, .5);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      font-size: 1.3em;
      line-height: 1.8em;
      text-align: center;
      margin: 0 5px;
    }
    &:hover{
      color: rgba(255,255,255, 1);
      -webkit-transition: .07s ease-in-out;
      transition: .07s ease-in-out;
      .social{
        border-color: rgba(255,255,255, 1);
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
      }
    }
  }
}