.intro{
  height: calc(100vh - 59px);
  background: rgba(21,101,192, 1);
  color: rgba(255,255,255,1);

  .Typewriter{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3em;
    z-index: 9999;
  }
  .see-more{
    padding: 3px 20px;
    cursor: pointer;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 2px solid;
    border-color: rgba(255,255,255,1);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    div{
      display: inline;
      position: relative;
      &:after{
        content: ' \21E3';
      }
    }
    &:hover{
      div{
        
        animation: bounce .5s infinite alternate;
        -webkit-animation: bounce .5s infinite alternate;
      }
    }
  }
}
    
@keyframes bounce {
  from {
    top: 0;
  }
  to {
    top: -2px;
  }
}

/*Start Background Effect Animation*/
$pSize: 10vmin;
$animDuration: 6s;
$amount: 500;
.bubble-bg {
  width: $pSize;
  height: $pSize;
  border-radius: $pSize;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: $animDuration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  $colors: (
    #002171,
    #0d47a1,
    #5472d3
  );
  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      color: nth($colors, random(length($colors)));
      top: random(100) * 1%;
      left: random(100) * 1%;
      animation-duration: (random($animDuration * 10) / 10) * 1s + 10s;
      animation-delay: random(($animDuration + 10s) * 10) / 10 * -1s;
      transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
      $blurRadius: (random() + 0.5) * $pSize * 0.5;
      $x: if(random() > 0.5, -1, 1);
      box-shadow: ($pSize * 2 * $x) 0 $blurRadius currentColor;
    }
  }
}
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
/*End Background Effect Animation*/