.my-works{
  background: rgba(245,245,245,1);

  .card{
    border: 1px solid rgba(0,0,0, .0);

    .card-img-overlay{
      background: rgba(0,0,0, .3);
      -webkit-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      
      .info-container{
        opacity: 0;
        -webkit-transition: .4s ease-in-out;
        transition: .4s ease-in-out;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 100%;
        width: 100%;
        h5{
          margin: 0 auto;
        }
        a{
          text-decoration: none;
          flex-basis: 100%;
          .see-more{
            width: 150px;
            margin: 0 auto;
            padding: 3px 20px;
            border: 2px solid;
            border-color: rgba(255,255,255,1);
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
            text-align: center;
            color: rgba(255,255,255,1);
            div{
              display: inline;
              position: relative;
              &:after{
                content: ' \21E3';
              }
            }
            &:hover{
              div{
                animation: bounce .5s infinite alternate;
                -webkit-animation: bounce .5s infinite alternate;
              }
            }
          }
        }
      }
    }
    &:hover{
      .card-img-overlay{
        background: rgba(0,0,0, .7);

        .info-container{
          opacity: 1;
        }
      }
    }
    &:hover{
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    }
  }
}